html,
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} 
body{
  font-size: 20px;
  height: 100%;
  overflow-x: hidden;
  color:white;
  font-family: 'Flamenco', cursive;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../images/S2.jpg');
}
header{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../images/S2.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.row{
  max-width:1180px;
  margin: 0 auto;
}
.clearfix: after
{
  content:".";
  visibility: hidden;
  display:block;
  height: 0px;
  clear:both;
}
.logo{
  height: 100px;
  width:auto;
  float:left;
  margin-top: 20px;
  border-radius: 20%;
  border-color: #904403 ;
  border-style: solid;
}
.main-nav{
  float:right;
  margin-top:60px;
}
.main-nav li{
     display:inline-block;
     list-style: none;
     margin-left: 40px;
}

.main-nav li a{
  padding:5px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 100;
}
.main-nav li a:hover{
  border-bottom: 2px solid #904403 ;

}
.main-content-header{
  width:1180px;
  position: absolute;
  top:55%;
  left:50%;
  transform:translate(-50%,-50%);
}
h1{
  color: #fff;
  font-size:240%;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}
.btn{
  display:inline-block;
  padding :10px 30px;
  font-weight: lighter;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  transition: background-color 0.2s,border 0.2s,color 0.2;
}
.btn-full{
  background-color: transparent;
  color: #bf55ec;
  margin-right: 15px;
  border:1px solid  #bf55ec;
}
.btn-full:hover{
  background-color: #fff;
}
.btn-nav{
  background-color: transparent;
  color: #fff;
  border:1px solid #fff;
}
.btn-nav:hover{
  background-color: #bf55ec;
  
}
.colorchange{
  animation: colorchangeRMSBAKERY 1s infinite;

}
@keyframes colorchangeRMSBAKERY{
  0%{color :red;}
  25%{color: #bf55ec;}
  50%{color:white;}
  100%{color:#bf55ec;}
}
.mobile-icon{display:none;}
@media only screen and (max-width:1180px){
  .main-content-header{
    width:100%;
    padding:0 2%;
    top:75%;
  }

}
@media only screen and (max-width:998px){
  h1{font-size:200%;}
}
@media only screen and (max-width:768px){
  h1{font-size: 180%}
  .main-nav{display:none;}
  .mobile-icon{
    display: inline-block;
    color: #fff;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
  }
  .main-nav{float:left;}
  .main-nav li{
    
    display:block;
    margin-top: 10px;

  }

}
.products .column {
    display: inline-block;
    width: 300px;
    /*height: 200px;*/
    padding: 10px 10px;
    /*margin-bottom: 20px;*/
}

.products .row {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
}

.products .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: ;
    padding: 16px 0px;
    text-align: center;
    margin-bottom: 10px;
    color: white;

}

.column img {
  box-shadow: 10px 10px 5px #EDE7E2;
}
.products .card .image img {
    border-radius: 50%;
    height: 50px
    width: 40px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;

}

.block-button {
    margin-right: 20px;
    margin-left: 20px;
}
  .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

	 